-# = react_component 'Appointments'
%h1 Appointments
= form_for @appointment, remote: true do |f|
  = f.text_field :title
  = f.text_field :appt_time
  = f.submit 'Make Appointment'

#appointments
  = render 'appointments'